$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$--breakpoints: (
  'xs': (
    max-width: $--sm - 1
  ),
  'sm': (
    min-width: $--sm
  ),
  'md': (
    min-width: $--md
  ),
  'lg': (
    min-width: $--lg
  ),
  'xl': (
    min-width: $--xl
  )
);

@mixin res($key, $map: $--breakpoints) {
  // 循环断点Map，如果存在则返回
  @if map-has-key($map, $key) {
    @media only screen and #{inspect(map-get($map, $key))} {
      @content;
    }
  } @else {
    @warn "Undefeined points: `#{$map}`";
  }
}

[class*='s-col-'] {
  float: left;
  box-sizing: border-box;
}

.s-col-0 {
  display: none;
}

@for $i from 0 through 24 {
  .s-col-#{$i} {
    width: (1 / 24 * $i * 100) * 1%;
  }

  .s-col-offset-#{$i} {
    margin-left: (1 / 24 * $i * 100) * 1%;
  }

  .s-col-pull-#{$i} {
    position: relative;
    right: (1 / 24 * $i * 100) * 1%;
  }

  .s-col-push-#{$i} {
    position: relative;
    left: (1 / 24 * $i * 100) * 1%;
  }
}

@include res(xs) {
  .s-col-xs-0 {
    display: none;
  }
  @for $i from 0 through 24 {
    .s-col-xs-#{$i} {
      width: (1 / 24 * $i * 100) * 1%;
    }

    .s-col-xs-offset-#{$i} {
      margin-left: (1 / 24 * $i * 100) * 1%;
    }

    .s-col-xs-pull-#{$i} {
      position: relative;
      right: (1 / 24 * $i * 100) * 1%;
    }

    .s-col-xs-push-#{$i} {
      position: relative;
      left: (1 / 24 * $i * 100) * 1%;
    }
  }
}

@include res(sm) {
  .s-col-sm-0 {
    display: none;
  }
  @for $i from 0 through 24 {
    .s-col-sm-#{$i} {
      width: (1 / 24 * $i * 100) * 1%;
    }

    .s-col-sm-offset-#{$i} {
      margin-left: (1 / 24 * $i * 100) * 1%;
    }

    .s-col-sm-pull-#{$i} {
      position: relative;
      right: (1 / 24 * $i * 100) * 1%;
    }

    .s-col-sm-push-#{$i} {
      position: relative;
      left: (1 / 24 * $i * 100) * 1%;
    }
  }
}

@include res(md) {
  .s-col-md-0 {
    display: none;
  }
  @for $i from 0 through 24 {
    .s-col-md-#{$i} {
      width: (1 / 24 * $i * 100) * 1%;
    }

    .s-col-md-offset-#{$i} {
      margin-left: (1 / 24 * $i * 100) * 1%;
    }

    .s-col-md-pull-#{$i} {
      position: relative;
      right: (1 / 24 * $i * 100) * 1%;
    }

    .s-col-md-push-#{$i} {
      position: relative;
      left: (1 / 24 * $i * 100) * 1%;
    }
  }
}

@include res(lg) {
  .s-col-lg-0 {
    display: none;
  }
  @for $i from 0 through 24 {
    .s-col-lg-#{$i} {
      width: (1 / 24 * $i * 100) * 1%;
    }

    .s-col-lg-offset-#{$i} {
      margin-left: (1 / 24 * $i * 100) * 1%;
    }

    .s-col-lg-pull-#{$i} {
      position: relative;
      right: (1 / 24 * $i * 100) * 1%;
    }

    .s-col-lg-push-#{$i} {
      position: relative;
      left: (1 / 24 * $i * 100) * 1%;
    }
  }
}

@include res(xl) {
  .s-col-xl-0 {
    display: none;
  }
  @for $i from 0 through 24 {
    .s-col-xl-#{$i} {
      width: (1 / 24 * $i * 100) * 1%;
    }

    .s-col-xl-offset-#{$i} {
      margin-left: (1 / 24 * $i * 100) * 1%;
    }

    .s-col-xl-pull-#{$i} {
      position: relative;
      right: (1 / 24 * $i * 100) * 1%;
    }

    .s-col-xl-push-#{$i} {
      position: relative;
      left: (1 / 24 * $i * 100) * 1%;
    }
  }
}
