/* notice.scss */
@charset "UTF-8";
@import '../common/var';
@import '../mixins/mixins';

@include b(notice) {
  position: fixed;
  right: 20px;
  top: 60px;
  z-index: 1000;

  &__main {
    min-width: 150px;
    padding: 10px 20px;
    background: #f2f2f2;
    box-shadow: 18px 18px 37px #cecece, -18px -18px 37px #ffffff;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  &__title {
    font-size: 16px;
  }
  &__content {
    font-size: 14px;
    // color: rgb(255, 255, 255);
  }
}
